<div class="frame-decoration">
  <div class="frame-content">
    <div class="code-preview">
      <span class="code-line"><span class="code-keyword">public class </span> <span class="code-type">Portfolio</span></span>
      <span class="code-line">&lbrace;</span>
      <span class="code-line">  &nbsp; &nbsp;  <span class="code-keyword">public string </span> <span class="code-property">{{ currentProperty }}</span>{{ currentEquals }}<span class="code-string">{{ currentValue }}</span><span class="cursor">|</span></span>
      <span class="code-line">&rbrace;</span>
    </div>
  </div>
</div>
