@use 'variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-body;
  background: vars.$gallery-gray;
  color: vars.$text-primary;
  -webkit-font-smoothing: antialiased;
}
